.filter{
    width: 240px;
    height: 100%;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: .5rem;
}

.box{
    border: 1px solid var(--color__lightgray);
    min-height: 200px;
}

.price__input{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.price__input>input{
    text-align: center;
    width: 35%;
    border: 1px solid var(--color__lightgray);
    border-radius: .25rem;
}
.price__input>button{
    width: 25%;
    border: 1px solid var(--color__lightgreen);
    background-color: var(--color__lightgreen);
    border-radius: .25rem;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.slider{
    margin-top: .5rem;
}
.slider>div>div:nth-child(2){
    background-color: var(--color__lightgreen);
}
.slider>div>div:nth-child(4), .slider>div>div:nth-child(5){
    border: 1px solid var(--color__lightgreen);
}