.list__item:hover{
    background-color: var(--color__lightgray);
    border-radius: .5rem;
}

.product{
    width: 100%;
    display: flex;
    border-radius: .25rem;
}

.product:hover{
    background-color: var(--color__lightgray);
}

.product> div{
    margin-left: 1rem;
}
.id{
    width: 2rem;
    margin-left: 0;
}