.logo_container a{
    margin: 2rem auto;
}

.about_us p{
   margin: 1rem 0;
   text-indent: 1.5rem;
}

.about_us h4{
    font-weight: 500;
    font-size: 1.2rem;
    padding: .5rem;
}
.about_us h5{
    font-size: 1rem;
}

.button_container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4rem 0;
}
.about_us table{
    margin: 1rem;
}
.about_us tr>td:nth-child(1){
    color: var(--color__lightgreen);
    padding-right: .5rem;
}


